*
{
    margin: 0;/* lề css.Các marginthuộc tính CSS được sử dụng để tạo không gian xung quanh các phần tử, 
    bên ngoài bất kỳ đường viền xác định nào.
    */
    padding:0;/*Padding được sử dụng để tạo không gian xung quanh nội dung của phần tử, bên trong bất kỳ đường viền xác định nào.*/
}
.main
{
    width: 100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(hinh\ nen.jpg);/* thuộc tính màu trong css;0,5 là opacity*/
    background-position:center;
    background-size:cover;
    height: 109vh;
}
.navbar
{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon
{
    width: 200px;
    float: left;
    height: 75px;
}
.logo
{
    color:floralwhite;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
.menu
{
    width: 400px;
    float:left;/* thành phần trôi nổi qua bên trái*/
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left:62px ;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
ul li a:hover
{
    color: hotpink;
}
.search
{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 12px;
    color:white;
    border-right: none;
    font-size: 16px;
    padding :10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn
{
    width: 100px;
    height: 40px;
    background: tomato;
    border: 1px solid #ff7200;
    margin-top: 12px;
    color:white;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn:hover
{
    background:azure;
    color:black;

}
.content
{
    width: 1200px;
    height: auto;
    margin: auto;
    color:#ff7200;
    position: relative;
}
.content .par
{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    letter-spacing: 1.2px;
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background:#ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.content .cn a
{
    text-decoration: none;
}
.content .cn:hover
{
    color: black;
    background: blanchedalmond;
}